<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.test_btl">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Test_BTL">
        <activity
            android:name=".tr_sua_tt"
            android:exported="true" />
        <activity
            android:name=".tr_thong_tin"
            android:exported="true" />
        <activity
            android:name=".tr_hom_nay_2"
            android:exported="true" />
        <activity
            android:name=".tr_lich_su"
            android:exported="true" />
        <activity
            android:name=".tr_hom_nay"
            android:exported="true" />
        <activity
            android:name=".tr_them_1"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>